<ion-header>
  <ion-toolbar>
    <ion-title>
      GPS and Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="getCurrentPosition()">Location</ion-button>
    <agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <!-- <agm-marker
      [latitude]="m.lat"
      [longitude]="m.lng">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker> -->
  
  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>
</ion-content>
